.main__wrapper {
  min-height: 670px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  background: #f6f6f6;
}

.main-inner {
  width: inherit;
  background: red;
  background: #f6f6f6;
}

.main-item {
  width: inherit;
  background: red;
  background: #f6f6f6;
}

.main__center {
  margin: auto 0;
}

.main__caption {
  font-size: 38px;
  font-family: "Montserrat";
  color: #171717;
  font-weight: bold;
}

.main__caption_img {
  background-size: cover;
}

.main__text {
  margin: 17px 0;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.main__name {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.main__name span {
  color: #171717;
  font-weight: bold;
}

.carousel-control-prev-icon {
  background: url("../img/arrow.png") no-repeat;
  width: 18px;
  height: 18px;
}

.carousel-control-next-icon {
  background: url("../img/arrowright.png") no-repeat;
  width: 18px;
  height: 18px;
}

.carousel-control-next,
.carousel-control-prev {
  top: 0;
  bottom: -670px;
  width: 13%;
}

.carousel-control-next-about,
.carousel-control-prev-about {
  font-size: 12px;
  font-family: "Montserrat";
  color: #1d1d1d;
  font-weight: bold;
  text-align: right;
}

.col-5 {
  margin: 100px 0;
}
