.info__wrapper {
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.bannerabout__wrapper {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header__wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  min-height: 102px;
}

.banner__wrapper {
  min-height: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: url("img/banner.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background: #e1ebed;
}

.about__wrapper {
  min-height: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.abc__wrapper {
  width: 100%;
  min-height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: #10c9c3;
  color: white;
}

.col-md-6 {
  margin: 0 auto;
}

.col-md-8 {
  margin: 0 auto;
}

.carousel-indicators li {
  height: 6px;
  width: 6px;
  border-radius: 3px;
}

.carousel-inner {
  height: 300px;
  background: #10c9c3;
}

.carousel-item {
  height: 300px;
}

.carousel-caption {
  height: 150px;
}

.project__wrapper {
  width: 100%;
  min-height: 753px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: whitesmoke;
}

.project__caption {
  font-size: 30px;
  font-family: "Montserrat";
  color: #1d1d1d;
  font-weight: bold;
}

.project__text {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
  margin: 40px 0;
}

.project__email {
  margin-left: 25px;
}

.project__name, .project__email {
  border: none;
  width: 320px;
  height: 50px;
  padding-left: 20px;
}

.project__title {
  padding-left: 20px;
  border: none;
  width: 670px;
  height: 50px;
  margin: 30px 0;
}

.project__comment {
  padding-left: 20px;
  padding-bottom: 100px;
  height: 170px;
  width: 670px;
  border: none;
  margin-bottom: 30px;
}

.footer__wrapper {
  min-height: 284px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: black;
  color: white;
}

.footer__caption {
  font-size: 18px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__text {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  color: #bcbcbc;
}

.button {
  width: 180px;
  height: 54px;
  border: none;
  background: #10c9c2;
  color: white;
}
