.info__wrapper {
  background: whitesmoke;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.info__caption {
  font-size: 30px;
  font-family: "Montserrat";
  color: #171717;
  font-weight: bold;
}

.info__text {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.info__item {
  margin-top: 8px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.info__item span {
  color: #171717;
  font-weight: bold;
}

.info__email {
  margin-left: 25px;
}

.info__name, .info__email {
  border: none;
  width: 320px;
  height: 50px;
  padding-left: 20px;
}

.info__title {
  padding-left: 20px;
  border: none;
  width: 670px;
  height: 50px;
  margin: 30px 0;
}

.info__comment {
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 100px;
  height: 170px;
  width: 670px;
  border: none;
  margin-bottom: 30px;
}

.map__wrapper {
  margin: 0 auto;
  height: 470px;
  width: 100%;
}

.bannerabout__wrapper {
  background: url("img/aboutbanner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.bannerabout__caption {
  font-size: 38px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.bannerabout__text {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.aboutme__wrapper {
  min-height: 570px;
  background: whitesmoke;
}

.noposition {
  position: absolute;
  left: -80px;
}

.projecttwo__wrapper {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.col-md-5 {
  padding: 110px 0;
}

.design__wrapper {
  width: 100%;
  min-height: 415px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.gallery__wrapper {
  min-height: 900px;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header__wrapper {
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  min-height: 102px;
}

.banner__wrapper {
  width: 100%;
  min-height: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: url("img/wall2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__caption {
  font-size: 38px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.banner__text {
  margin: 40px 0;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.about__wrapper {
  background: whitesmoke;
  min-height: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.about__caption {
  font-size: 30px;
  color: #191919;
  font-weight: bold;
}

.about__text {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
  margin: 40px 0;
}

.skill__wrapper {
  min-height: 570px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  position: relative;
  background: #f9f9f9;
}

.skill__caption {
  font-size: 30px;
  font-family: "Montserrat";
  color: #171717;
  font-weight: bold;
}

.skill__item {
  margin-top: 40px;
  font-size: 12px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
}

.skill__image {
  position: absolute;
  top: -140.5px;
  left: -69px;
}

.abc__wrapper {
  width: 100%;
  min-height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: #10c9c3;
  color: white;
}

.abc__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.abc__list_img {
  display: inline-block;
}

.abc__list_item {
  display: inline-block;
}

.abc__list_item_number {
  font-size: 18px;
  font-family: "Montserrat";
  color: white;
}

.abc__list_item_name {
  font-size: 12px;
  font-family: "Montserrat";
  color: white;
}

.works {
  max-width: 1200px;
}

.works__wrapper {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.works__more {
  background: whitesmoke;
  height: 100px;
  width: 1200px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #8e8e8e;
  cursor: pointer;
}

.workprocess__caption {
  font-size: 30px;
  font-family: "Montserrat";
  color: #191919;
  font-weight: bold;
  margin: 40px 0;
}

.workprocess__text {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
  margin-bottom: 55px;
}

.workprocess__video {
  margin-bottom: 40px;
}

.profesions__wrapper {
  background: whitesmoke;
  min-height: 535px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.profesions__caption {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #191919;
  font-weight: bold;
}

.profesions__text {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.profesions__two {
  margin-top: 60px;
}

.carousel-indicators li {
  height: 6px;
  width: 6px;
  border-radius: 3px;
}

.carousel-inner {
  height: 500px;
  background: #10c9c3;
}

.carousel-item {
  height: 500px;
}

.carousel-caption {
  bottom: none;
  top: 155px;
  left: 155px;
  height: 150px;
}

.carousel-caption-pr {
  font-size: 30px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.carousel-caption-name {
  font-size: 12px;
  font-family: "Montserrat";
  color: white;
}

.clients__wrapper {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.project__wrapper {
  width: 100%;
  min-height: 753px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: whitesmoke;
}

.project__caption {
  font-size: 30px;
  font-family: "Montserrat";
  color: #1d1d1d;
  font-weight: bold;
}

.project__text {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
  margin: 40px 0;
}

.project__email {
  margin-left: 25px;
}

.project__name, .project__email {
  border: none;
  width: 320px;
  height: 50px;
  padding-left: 20px;
}

.project__title {
  padding-left: 20px;
  border: none;
  width: 670px;
  height: 50px;
  margin: 30px 0;
}

.project__comment {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  height: 170px;
  width: 670px;
  border: none;
  margin-bottom: 30px;
}

.footer__wrapper {
  min-height: 284px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background: black;
  color: white;
}

.footer__caption {
  font-size: 18px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__text {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  color: #bcbcbc;
}

.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.button {
  width: 180px;
  height: 54px;
  border: none;
  background: #10c9c2;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-family: "Montserrat";
}

.col-md-7 {
  margin: 0 auto;
}

.col-md-6 {
  margin: 0 auto;
}

.col-md-8 {
  margin: 0 auto;
}

.material-icons {
  font-size: 44px;
  height: 44px;
  width: 40px;
}

.blueimp-gallery > .close,
.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  color: #fff !important;
}
