.info__wrapper {
  background: whitesmoke;
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.info__caption {
  font-size: 30px;
  font-family: "Montserrat";
  color: #171717;
  font-weight: bold;
}

.info__text {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.info__item {
  margin-top: 8px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #787878;
}

.info__item span {
  color: #171717;
  font-weight: bold;
}

.info__email {
  margin-left: 25px;
}

.info__name, .info__email {
  border: none;
  width: 320px;
  height: 50px;
  padding-left: 20px;
}

.info__title {
  padding-left: 20px;
  border: none;
  width: 670px;
  height: 50px;
  margin: 30px 0;
}

.info__comment {
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 100px;
  height: 170px;
  width: 670px;
  border: none;
  margin-bottom: 30px;
}
