.bannerabout__wrapper {
  background: url("../img/aboutbanner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.bannerabout__caption {
  font-size: 38px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.bannerabout__text {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.aboutme__wrapper {
  min-height: 570px;
  background: whitesmoke;
}

.noposition {
  position: absolute;
  left: -80px;
}

.projecttwo__wrapper {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.col-md-5 {
  padding: 110px 0;
}
